body{
    background-color: #E5F9FC;
    /* text-align: center; */
}

.rectangle1{
    height:50%;
    width: 25%;
    left: 60%;
    /* top: 10%; */
    filter: blur(5em);
    transform: rotate(-133.77deg);
    background-color: #E1C0F7;
    display: inline-block;
    z-index: -100;
    position: absolute;
}

.rectangle2{
    height:50%;
    width: 15%;
    left: 10%;
    top: 30%;
    filter: blur(3em);
    transform: rotate(64.26deg);
    background-color: #FFF8F0;
    display: inline-block;
    z-index: -100;
    position: absolute;
}
nav{
    text-align: right;
    padding: 1% 10% 0 0;
}

p{
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.selected_tab{
    font-weight: 500;
}
.back_slash{
    color: #d9d9d9;
}

about{
    /* background-color: red; */
    text-align: left;
    margin: auto;
    width: 80%;
    display: flex;
}

p1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    display: block;
/*     width: 0%; */
}
img{
    width: 30%;
    display: flex;
}
